/* Fonts used  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,600&display=swap');

/* Body Styles  */
body{
    font-family: 'Poppins', sans-serif;
}
.h1-bold{
    font-weight: 600;
}
.paragraph-weight{
    font-weight: 300;
}
.button-bg{
    background-color: #E76F51;
}
/* Banner  */
.banner-bg{
    background-color: #264653;
}
/* Happy-Clients  */
.star-icon-design{
    color: #E77C40;
}